/* ==================== */
/* Global and Base Styles */
/* ==================== */

/* Apply common font family and color to body, input, label, and links */
body,
input,
label,
a {
  font-family: calibri;
  color: white;
}

/* Remove outline and change border color when input is focused */
input:focus {
  outline: none;
  border-color: #3a587e;
}

/* Style for labels with pointer cursor */
label {
  font-size: 14px;
  display: flex;
  color: #d0d0d0;
  cursor: pointer;
}

/* Style for labels inside input elements */
label input {
  margin-right: 3px;
  cursor: pointer;
}

/* Define link styles with a color transition on hover */
a {
  text-decoration: none;
  transition: color .3s;
}

/* Change link color on hover */
a:hover {
  color: rgb(106, 142, 173);
}

/* ==================== */
/* Main Layout Styles */
/* ==================== */

/* Styles for the main container that centers content */
#main-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* Styles for the form container */
#form-container {
  width: 350px;
  display: flex;
  position: relative;
}

/* ==================== */
/* Content Styles */
/* ==================== */

/* Styles for the main content area */
#content {
  font-size: 2rem;
  border: 1px solid #626262c2;
  padding: 1.5rem;
  width: 100%;
  border-radius: 15px;
  background: #62626212;
  backdrop-filter: blur(30px);
}

/* Styles for title text */
.title-text {
  display: block;
  text-align: center;
}

/* Styles for form fields */
.field {
  position: relative;
  margin-bottom: 1.5rem;
}

/* Styles for labels inside form fields */
.field label {
  position: absolute;
  bottom: 0;
  margin-bottom: 5px;
  z-index: -1;
  transition: bottom .4s, font-size .4s;
  color: #aaa;
}

/* Styles for input elements inside form fields */
.field input {
  border: none;
  border-bottom: 2px solid #3f3f3f;
  background: none;
  padding: 5px 0;
  margin-top: 32px;
  width: 100%;
  transition: border-color .3s;
}

/* Styles for labels inside form fields when input is focused or valid */
.field input:focus+label,
.field input:valid+label {
  bottom: 25px;
  font-size: 13px;
}

/* Styles for action links and buttons */
#action {
  display: flex;
  justify-content: space-between;
  margin: 15px 0 10px;
}

/* Styles for 'Forgot Password' and 'Sign Up' links */
#forget,
#signup a {
  font-size: 14px;
}

/* Styles for the 'Sign Up' text and links */
#signup {
  color: #3a587e;
  font-size: 16px;
  text-align: center;
  margin-top: 25px;
}

#signup a {
  font-size: 16px;
}

/* ==================== */
/* Buttons Styles */
/* ==================== */

/* Styles for login buttons */
#login-btn,
#login {
  padding: 6px 18px;
  border-radius: 30px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  background: #6c90be;
  transition: background-color .3s, transform .3s;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  margin: 0 auto;
  display: block;
}

/* Styles for the login button */
#login-btn {
  width: 120px;
  font-size: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
}

/* Styles for the login button in full-width form */
#login {
  width: 100%;
  font-size: 1rem;
}

/* Hover styles for login buttons */
#login-btn:hover,
#login:hover {
  background-color: #5a7aa0;
  transform: scale(0.95);
}